  <header class="main">
    <div class="container">
      <div class="row">
        <a href="{{site.baseurl}}" class="brand">
          <img src="assets/images/logotype.svg" alt="Crowdpub" />
        </a>
        <nav>
          <ul>
            {% for link in site.data.navigation %}
              <li>
                <a 
                  href="{{ link.url }}"
                  {% if link.button %}
                    class="button"
                  {% else %}
                    class="hvr-underline-from-left"
                  {% endif %}
                >
                  {{ link.label }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </header>